#mainDiv {
  background-color: #202124;
}

#div {
  width: 100%;
  height: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 33px;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  }

  .search input{
    color: white;
   height: 60px;
   text-indent: 25px;
   border: 2px solid none;
   background-color: #303134;
   border-style: none;
  }

  .search input:focus{
  box-shadow: 0 10px 20px rgb(0 176 243 / 50%);
  border: 2px solid white;
  }

  .search .fa-search{
   position: absolute;
   top: 20px;
   left: 16px;
  }

  ::placeholder {
    color: white;
    opacity: 1;
    padding-left: 10px;
  }

  mat-icon {
    font-size: 34px;
    position: relative;
    top: -5px;
    color: white  ;
  }

  #divİnput {
    width: 100%;
    height: 16vh;
  }

  #btnDiv {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;
    padding: 20px;
}



