.container {
  width: 1020px;
}

#firstDiv {
  display: flex;
   flex-direction: row;
   margin-top: 40px;
   margin-bottom: 5px;
}
#firstDiv a {
  margin-right: 5px;
}
mat-card-title {

  margin: 5px 0px 20px 0px;
}


#firstP {

  margin-right: 1px;
  background-color: #8b70e3;
  padding: 5px;
  color: white;

}

#secondP {
  padding: 5px;
   color: #8b70e3;
   background-color: #f9f9fc;
}
#thirdP {
  margin-bottom: 40px;
}
