
<div class="container" id="firstDiv" >
  <p ><a routerLink="/home">Home Page</a></p></div>



    <div class="container" >
      <mat-card>
        <div>
          <mat-card-title >{{postObj.title}}</mat-card-title>
          <p id="thirdP">{{postObj.description}}</p>

        </div>

        <div class="d-flex">
          <p id="firstP" >{{postObj.author}}</p>
          <p id="secondP">{{postObj.date | date : 'd MMMM y'}}</p>

        </div>
        <p >Tags : </p>


      </mat-card>





    </div>
