
<div class="container" id="firstDiv"  >
  <p ><a routerLink="/home">Home Page</a></p>
  <h1 >Filtered posts by:get  </h1>
</div>

<div id="secondDiv" class="container"  *ngFor="let item of getData  | sort:['date'] " >
   <mat-card >
     <mat-card-title  [routerLink]="'/post/'+item.id" >{{item.title}}</mat-card-title>
      <p class="mt-1">{{item.description | slice:0:280}} ... <span  [routerLink]="'/post/'+item.id">read more</span></p>
        <div class="d-flex" >
          <div id="imgDiv" >
            <img id="img"  mat-card-image src="assets/images/profile.png" >
          </div>
       <div>
          <p  id='p' >Written by <b >{{item.author}}</b></p>
          <p>{{item.date | date : 'longDate'}} </p>
       </div>
      </div>
      </mat-card>
    </div>
