
<div class="container" >
  <div class="row">
    <div  id="card" class="col-lg-6 mt-5" *ngFor="let item of categories" [routerLink]="'/category/'+item.id">
      <div>
        <mat-card>
          <div id="cardDiv" class="d-flex" >
          <div id="imgDiv" >
            <img id="img"   mat-card-image src="assets/icons/{{item.icon}}" >
          </div>
          <div id="depDiv" >
            <mat-card-title >{{item.name}}</mat-card-title>
            <p class="mt-1">{{item.description}}</p>
          </div>
        </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
