#cardDiv {
  padding: 25px;
}

#imgDiv {
  width: 20%;
  display: flex;
  justify-content: center;
}

#img {
  width: 73%;
  margin: 0px 23px 0px 0px;
  position: relative;
  top: -9px;
}

#despDiv {
  width: 80%;
}

mat-card-title {
  color: #583ABC;
  margin-bottom: 13px;
}

mat-card :hover {
  transform: translateY(-0.25rem);
}

.container {
  width: 1020px;
}


